/* Media Query 1170px */

@media(max-width:1170px){
    /* General Css */
    .section-subtitile{
        max-width: 60%;
    }

    /* 01 Navbar Css */
    .header .navbar{
        background-size: cover;
        padding: 2rem;
    }

    .header .navbar-nav{
        margin-top: 2rem;
    }
    .header .navbar-nav .nav-link{
        padding: 0.2rem 0.5rem;
        margin-bottom: 1rem;
    }
    .header .header_right span{
        padding: 0.2rem 0.5rem;
    }

    /* Banner Section */
}


/* Media Query 991px */

@media(max-width:991px){
    /* General Css */
    
.about .banner_section,
.product .banner_section,
.gallery .banner_section,
.contact .banner_section{
    padding-top:12.5rem ;
    padding-bottom: 3rem;
}
/* Navbar CSS */
.header .navbar{
    background-size: cover;
    padding: 2rem;
}

.header .navbar-nav{
    margin-top: 2rem;
}
.header .navbar-nav .nav-link{
    padding: 0.2rem 0.5rem;
    margin-bottom: 1rem;
}
.header .header_right span{
    padding: 0.2rem 0.5rem;
}

}

/* Media Query 767px */
@media(max-width:767px){
    body,html{
        font-size: 8px;
    }
    .section-subtitile{
        max-width: 80%;
    }

    /* 02 Banner Section */
    .banner_section .carousel-section{
        height: 90vh;
    }
}


/* Media Query 590px */
@media(max-width:590px){
    body,html{
        font-size: 7px;
    }
    .banner_section .carousel-section{
        height: 70vh;
    }
    .copyright-section p{
        margin-top: -3rem;
    }
    .gallery_section .img img:hover{
        scale: 1;
    }
}